.prom-question {
    margin: 25px 0 0 0;
}

.prom-question-validation {
    margin-left:auto !important;
    margin-right:auto !important;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
