.prom-question {
    margin: 10px 0 0 0;
}
.prom-question-validation {
    margin-left:auto !important;
    margin-right:auto !important;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
.prom-question-label {
    margin-bottom: 10px;
}
.x-checkboxfield.x-checked .x-box-label-el {
    color: $base-color;
}

.x-big .x-checkboxfield .x-box-label-el {
    white-space: normal;
}
.x-checkboxfield .x-icon-el {
    color: slategray;
}
.x-radiofield {
    margin-top: 0 !important;
    padding-bottom: 0 !important;
}
.x-checkboxfield .x-icon-el {
    height: 20px;
    width: 20px;
}
.x-radiofield .x-icon-el:before, .x-big .x-checkboxfield .x-icon-el:before {
    font-size: 22px;
}

.x-radiofield .x-box-wrap-el, .x-radiofield .x-box-wrap-el label {
    width: 100%;
}

.x-field.x-body-align-end > * > .x-body-el {
    align-items: flex-start;
}
.x-big .x-field:not(.x-field-solo).x-layout-auto-item, .x-big .x-field:not(.x-field-solo).x-layout-vbox-item {
    margin-top: 10px;
    padding-bottom: 10px;
    min-height: 40px;
}

.x-big .x-checkboxfield .x-box-label-el {
    font-size: 12px;
    line-height: 16px;
    padding: 0 0 0 10px;
}

.x-button.x-has-text.x-icon-align-right .x-icon-el {
    margin: 0 !important;
}
/*
.x-checkboxfield .x-box-label-el {
    white-space: normal;
    display: flex;
    align-items: center;
}
*/