.prom-summary-item > div > div {
    background-color: #f0f0f0;
    margin-bottom: 20px;
}
.prom-summary-item-text {
    margin-top:5px;
    font-weight: normal;
}
.prom-summary-item-title {
    text-align: left;
    background-color: #2196f3;
    color: white;
    padding: 5px;
    margin-bottom: 15px;
}
.prom-summary-item-link {
    float:right;
    display: block;
}
.prom-summary-item-response {
    margin-top:5px;
    font-weight: bold;
}