.prom-summary-fieldset {
    text-align: center;
}
.prom-summary-submit {
    display: table;
    margin: 20px auto;
    color: $base-color;    
    border-radius: 3px !important;
    border: 1px solid $base-color;
    min-height: 40px;
    line-height: 27px !important;
    
}
.prom-summary-error {
    color: $alert-color;
    text-align: center;
    font-size: larger;
    padding-bottom: 20px;
}