.prom-summary-item > div > div {
    background-color: #f0f0f0;
    margin-bottom: 20px;
}
.prom-summary-item-text {
    margin-top:5px;
    font-weight: normal;
}
.prom-summary-item-title {
    text-align: left;
    background-color: #2196f3;
    color: white;
    padding: 5px;
    margin-bottom: 15px;
}
.prom-summary-item-link {
    float:left;
    display: block;
}
.prom-summary-item-link .x-text-el {
    text-transform: initial !important;
    font-weight: normal;
}
.prom-summary-item-link .x-fa {
    padding-bottom: 3px;
}
.prom-summary-item .x-button.x-has-text .x-inner-el {
    padding: 5px 0;
}
.prom-summary-item .x-button.x-has-text.x-icon-align-left .x-icon-el {
    margin: 0;
}
.prom-summary-item-response {
    margin-top:5px;
    font-weight: bold;
}