$toolbar-background-color: $base-color;

.prom-start-page {
    padding: 16px;
}

.prom-start-button {
    height: 50px;
    margin: 0;
}

.prom-nav > div {
    padding: 0px !important;
    margin: 0;
}
.prom-nav .x-button, .prom-nav .x-button .x-icon-el {
    color: white;
}

.prom-nav-summary {
    margin: auto;
}

.prom-nav-forward {
    margin: 0;
}

.prom-nav-back {
    margin: 0 auto 0 0;
}

.prom-nav-spacer {
    margin-left: auto;
    width: 40px;
    flex: none !important;
}

.prom-nav-hidden {
    visibility: hidden;
}

.prom-nav .x-fa {
    padding-bottom: 4px;
}

.prom-info {
    padding: 8px;
    color: var(--highlight-color);
}

@media screen and (max-width: 600px) {
    .prom-summary-shown .prom-nav-forward, .prom-summary-shown .prom-nav-back {
        width: 50px;
    }
    
    .prom-summary-shown .prom-nav-spacer {
        width: 0 !important;
    }    
}

.x-fa.fa-angle-double-right {
    padding-bottom: 4px;
}