$ui-foo-radiofield-checkbox-color: dynamic(null);
$ui-foo-radiofield-checkbox-font-size: dynamic(null);
$ui-foo-radiofield-checkbox-font-size-big: dynamic(null);
$ui-foo-radiofield-checkbox-margin: dynamic(null);
$ui-foo-radiofield-checkbox-margin-big: dynamic(null);
$ui-foo-radiofield-checked-checkbox-color: dynamic(null);
$ui-foo-radiofield-focused-checkbox-color: dynamic(null);
$ui-foo-radiofield-box-label-color: dynamic(null);
$ui-foo-radiofield-box-label-font-family: dynamic(null);
$ui-foo-radiofield-box-label-font-size: dynamic(null);
$ui-foo-radiofield-box-label-font-size-big: dynamic(null);
$ui-foo-radiofield-box-label-font-weight: dynamic(null);
$ui-foo-radiofield-box-label-line-height: dynamic(null);
$ui-foo-radiofield-box-label-line-height-big: dynamic(null);
$ui-foo-radiofield-box-label-padding: dynamic(null);
$ui-foo-radiofield-box-label-padding-big: dynamic(null);