//Blues
// 00838f darkest
// 0097a7 darker
// 00acc1 dark
// 4dd0e1 lighter
// 00bcd4 lightest

// Reds
// BA274A
// 931F1D
// 89043D
// D81159
// CA1551
// B80138 !

// Yellows
// F0F3BD
// fee23e

$enable-font-awesome: dynamic(true);
$base-dark-color: #00838f;
$highlight-color: darkslategray;
$alert-color: #b80138;
    
html, body {
    height: 100%;
    background-color: #fafafa;
    cursor: default;
}

@media screen and (min-width: 770px) {
    
    body .x-viewport-body-el {
        width: 640px !important;
        height: 80% !important;
        margin: 38px auto;
        box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.4);
    }
    
    body {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}

.hidden {
    visibility: hidden;
}

#appLoadingIndicator {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    text-align: center;
    width: 100%;
    height: 30px;
    animation-name: appLoadingIndicator;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

#appLoadingIndicator > * {
    background-color: $base-color;
    display: inline-block;
    height: 30px;
    border-radius: 15px;
    margin: 0 5px;
    width: 30px;
    opacity: 0.8;
}

@keyframes appLoadingIndicator {
    0% {
        opacity: 0.8
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 0.8
    }
}

.prom-validation {
    color: #B80138;
}
.prom .x-button.x-has-text .x-icon-el,
.prom.x-big .x-button.x-has-text .x-icon-el,
 {
    margin: 0;
}
